﻿@{
    ViewData["Title"] = "Home";
}

<div class="text-center" id="div-startup">
    <div class="spinner-border text-primary item" role="status">
        <span class="sr-only"></span>
    </div>
    <div class="vitem">
        <h5 id="lbl-connecting">Connecting to hub...</h5>
    </div>
</div>

<div class="text-center">
    <div class="card mx-auto" style="width: 16rem;" id="div-player">
        <div class="img-wrapper" id="img-art-div">
            <img id="img-art" class="card-img-top img-responsive">
            <div class="img-overlay">
                <button id="btn-favorite" class="btn btn-circle btn-round btn-love fa fa-heart-o"></button>
            </div>
        </div>
        <div class="card-body">

            <h5 id="lbl-title"></h5>
            <p id="lbl-artist" style="font-style: italic;"></p>

            <div>
                <button id="btn-previous" class="btn btn-light btn-lg fa fa-step-backward hitem"></button>
                <button id="btn-play-pause" class="btn btn-light btn-lg fa fa-play hitem"></button>
                <button id="btn-next" class="btn btn-light btn-lg fa fa-step-forward hitem"></button>
            </div>
        </div>
    </div>
</div>

<div class="text-center" id="div-start-app">
    <div class="vitem">
        <i class="fa fa-exclamation-triangle fa-5x vitem" style="color:#fb8c00"></i>
        <h5 class="vitem">MellowPlayer is not running...</h5>
    </div>
    <div class="vitem">
        <button id="btn-start" class="btn btn-success vitem">Start MellowPlayer</button>
    </div>
</div>