﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.vitem {
    margin: 12px;
}

.hitem {
    margin: 6px;
}

.img-wrapper {
    position: relative;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 45%;
}

.btn-love {
    color: #007bff;
    background-color: rgba(0, 0, 0, 0.75);
    border-color: transparent;
    padding: 6px 0;
    width: 48px;
    height: 48px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 24px;
}

.btn-love:hover {
    color: #007bff;
    background-color: rgba(0, 0, 0, 0.85);
}

.btn-love:active {
    color: #007bff;
    background-color: rgba(0, 0, 0, 0.95);
}

.btn-love:focus {
    color: #007bff;
    box-shadow: none;
}
